name: Tests
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # Lowest PHP, Lowest Compatible Symfony, Lowest Composer
          - php: '8.1'
            symfony_constraint: '^5.0'
            composer_version: '2.2'
            name_suffix: ' (PHP 8.1, Symfony 5.x, Composer 2.2)'

          # Lowest PHP, Lowest Compatible Symfony, Highest Composer
          - php: '8.1'
            symfony_constraint: '^5.0'
            composer_version: '2.8'
            name_suffix: ' (PHP 8.1, Symfony 5.x, Composer 2.8)'

          # Lowest PHP, Symfony 6.x, Lowest Composer
          - php: '8.1'
            symfony_constraint: '^6.0' #
            composer_version: '2.2'
            name_suffix: ' (PHP 8.1, Symfony 6.x, Composer 2.2)'

          # Lowest PHP, Symfony 6.x, Highest Composer
          - php: '8.1'
            symfony_constraint: '^6.0'
            composer_version: '2.8'
            name_suffix: ' (PHP 8.1, Symfony 6.x, Composer 2.8)'

          # PHP 8.2, Symfony 6.x, Lowest Composer
          - php: '8.2'
            symfony_constraint: '^6.0'
            composer_version: '2.2'
            name_suffix: ' (PHP 8.2, Symfony 6.x, Composer 2.2)'

          # PHP 8.2, Symfony 6.x, Highest Composer
          - php: '8.2'
            symfony_constraint: '^6.0'
            composer_version: '2.8'
            name_suffix: ' (PHP 8.2, Symfony 6.x, Composer 2.8)'

          # PHP 8.3, Symfony 6.x, Lowest Composer
          - php: '8.3'
            symfony_constraint: '^6.0'
            composer_version: '2.2'
            name_suffix: ' (PHP 8.3, Symfony 6.x, Composer 2.2)'

          # PHP 8.3, Highest Symfony, Highest Composer
          - php: '8.3'
            symfony_constraint: '^7.0'
            composer_version: '2.8'
            name_suffix: ' (PHP 8.3, Symfony 7.x, Composer 2.8)'

          # Highest PHP, Highest Symfony, Lowest Compatible Composer (2.4, since 2.2/2.3 are excluded for PHP 8.4)
          - php: '8.4'
            symfony_constraint: '^7.0'
            composer_version: '2.4'
            name_suffix: ' (PHP 8.4, Symfony 7.x, Composer 2.4)'

          # Highest PHP, Highest Symfony, Highest Composer
          - php: '8.4'
            symfony_constraint: '^7.0'
            composer_version: '2.8'
            name_suffix: ' (PHP 8.4, Symfony 7.x, Composer 2.8)'

    name: Test ${{ matrix.name_suffix }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: libxml, simplexml
          tools: composer:${{ matrix.composer_version }}

      - name: Install Composer dependencies
        run: composer update --no-interaction --no-progress --no-suggest --with=symfony/config:${{ matrix.symfony_constraint }}

      - name: Run PHPUnit tests
        run: composer test

  coverage:
    runs-on: ubuntu-latest
    name: Code Coverage Report
    needs: tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: libxml, simplexml, xdebug
          tools: composer:'2.8'

      - name: Install Composer dependencies
        run: composer update --no-interaction --no-progress --no-suggest
        env:
          SYMFONY_REQUIRE: '^7.0'

      - name: Run PHPUnit tests with coverage
        run: composer test:coverage

      - name: Upload coverage report
        uses: actions/upload-artifact@v5
        with:
          name: code-coverage-report
          path: .build/coverage/clover.xml
          retention-days: 5

  coverage-report:
    name: Report test coverage
    runs-on: ubuntu-latest
    needs: coverage
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download coverage artifact
        id: download
        uses: actions/download-artifact@v6
        with:
          name: code-coverage-report

      - name: Coveralls report
        uses: coverallsapp/github-action@v2
        with:
          file: ${{ steps.download.outputs.download-path }}/clover.xml
